/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Expanded:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

/*Root Variables*/
:root {
  --primary-color: #ccd6dd;
  --secondary-color: #5097f4;
  --highlight-color: #fffffff6;
  --lowlight-color: #000000;
  --font-family: 'Encode Sans Semi Expanded', sans-serif;
  --code-font-family: 'JetBrains Mono', monospace;
}

/*non-specific styles*/
body {
  background-color: var(--lowlight-color);
  margin: 0.7rem;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--primary-color);
  font-family: var(--code-font-family);
  margin: 3px;
  padding: 3px;
}

p {
  color: var(--highlight-color);
  font-family: var(--font-family);
  padding: 3px;
  margin-top: 2rem;
}
li {
  color: var(--primary-color);
  font-family: var(--font-family);
  padding: 3px;
  margin-top: 0.5rem;
}

nav {
  background-color: var(--lowlight-color);
  color: var(--primary-color);
  padding: 2px;
  border: 2px solid var(--secondary-color);
  border-radius: 1px;
}

#nav-logo {
  border-radius: 2px;
  margin: 1px;
}

button {
  background-color: var(--primary-color);
  color: var(--lowlight-color);
  border: var(--highlight-color);
  border-radius: 5px;
  font-family: var(--font-family);
}

